* {
  box-sizing: border-box;
}

body {
  /* CSS Variables */
  --drk-gold: #CE973E;
  --lgt-blue: #6ABFC3;
  --section-clr: #95B0B2;

  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.navbar-default {
  background-color: var(--drk-gold);
  border-color: var(--drk-gold);
}

.navbar-default .navbar-brand {
  color: #fff; 
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: var(--drk-gold);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#fff;
}

nav .navbar-brand {
  font-size: 1.6em;
}

.menu-title {
  border-top: solid var(--drk-gold) 1px;
  border-bottom: solid var(--drk-gold) 1px;
}
#menu-collapse .menu-title a:hover {
  background-color: var(--lgt-blue);
}

.row {
  padding: 20px;
}

section {
  padding: 20px;
  color: white;
  /*background-color: #324B4C;*/
  /*background-color: #2F898D;*/
  background-color: var(--section-clr);
}

.section-title {
  font-size: 1.6em;
  margin-bottom: 10px;
}